<figure>
  <IMG SRC="Logo.png"  WIDTH=150 ALIGN="right">
</figure>

## Projections of mean sea level and tides<br>
### Paper in Journal of Coastal and Hydraulic Structures
<b>Prepared by: H.G. Voortman</b>

<figure>
    <IMG SRC="https://www.python.org/static/community_logos/python-powered-w-200x80.png"  WIDTH=100 ALIGN="right">
</figure>

#### Description
- IPCC data used in section 5

#### References
- Provided in report

#### Packages

In [10]:
# General packages
import pandas as pd
import scipy.stats as stat

# Project package
import utils as prj

In [14]:
# Set confidence level of interval
k = stat.norm.ppf(0.95)
k

1.6448536269514722

In [15]:
1.645 * 4.915

8.085175

#### Connect databases and import data

In [2]:
df = prj.read_data_ipcc()
df

,psmsl_id,process,confidence,scenario,year,median,90%_low,90%_high,sigma,name
0,20,totalrates,medium,ssp119,2020,3.4,-2.3,9.7,4.915916,VLISSINGEN
1,20,totalrates,medium,ssp126,2020,4.2,1.6,7.5,2.575004,VLISSINGEN
2,20,totalrates,medium,ssp245,2020,4.4,1.1,8.3,3.043186,VLISSINGEN
3,20,totalrates,medium,ssp370,2020,4.4,1.4,8.1,2.887125,VLISSINGEN
4,20,totalrates,medium,ssp585,2020,4.6,2.1,7.9,2.575004,VLISSINGEN
...,...,...,...,...,...,...,...,...,...,...
415,32,totalrates,medium,ssp119,2150,3.8,-0.2,9.2,4.213642,IJMUIDEN
416,32,totalrates,medium,ssp126,2150,3.8,0.2,9.6,4.525764,IJMUIDEN
417,32,totalrates,medium,ssp245,2150,6.7,2.6,14.0,5.696220,IJMUIDEN
418,32,totalrates,medium,ssp370,2150,9.2,4.2,18.1,6.944707,IJMUIDEN
419,32,totalrates,medium,ssp585,2150,10.2,4.2,21.0,8.427285,IJMUIDEN

In [3]:
df = df.loc[(df['year'] == 2020) & (df['scenario'] == 'ssp126')]

In [4]:
df.sort_values(by = 'name', inplace = True)
df.drop(columns = ['psmsl_id', 'process', 'confidence', 'year', 'scenario', 'sigma'], inplace = True)

C:\Users\Hessel\AppData\Local\Temp\ipykernel_2468\1755822370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by = 'name', inplace = True)
C:\Users\Hessel\AppData\Local\Temp\ipykernel_2468\1755822370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['psmsl_id', 'process', 'confidence', 'year', 'scenario', 'sigma'], inplace = True)

In [5]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df['name'] = df['name'].str.title()
df[['median', '90%_low', '90%_high']] = df[['median', '90%_low', '90%_high']] * 100
df

                 name  median  90%_low  90%_high
211          Delfzijl   440.0    200.0     770.0
141        Den Helder   400.0    170.0     740.0
281         Harlingen   400.0    160.0     740.0
71   Hoek Van Holland   500.0    240.0     830.0
351          Ijmuiden   420.0    180.0     770.0
1          Vlissingen   420.0    160.0     750.0

In [6]:
df.to_excel(r'../Results/ipcc_rates.xlsx')

#### End script
Prepared by HVEC lab, 2022